<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1050599295896-9m4mv0oquc1lvieq8bk38ah14q7vcrkr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1050599295896-9m4mv0oquc1lvieq8bk38ah14q7vcrkr</string>
	<key>API_KEY</key>
	<string>AIzaSyCvlMKQD20F3lHkdLptQmc8X1_GJ1BGlow</string>
	<key>GCM_SENDER_ID</key>
	<string>1050599295896</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pet-app.Harmony-Hub</string>
	<key>PROJECT_ID</key>
	<string>harmony-hub-53147</string>
	<key>STORAGE_BUCKET</key>
	<string>harmony-hub-53147.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1050599295896:ios:3bbf3c8205db2fbd77b9ed</string>
	<key>DATABASE_URL</key>
	<string>https://harmony-hub-53147-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>